<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="dk.nindroid.rss"
      android:versionName="2.3.9" android:versionCode="18">
      <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".ShowStreams" android:screenOrientation="portrait">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
        
    	<activity android:name=".menu.Settings"></activity>
		<activity android:name=".ClearCache"></activity>
		<activity android:name=".settings.ManageFeeds"></activity>
		<activity android:name="Splash"></activity>
		<activity android:name=".settings.DirectoryBrowser"></activity>
	<activity android:name=".settings.SourceSelector"></activity>
<activity android:name=".settings.FlickrBrowser"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />

	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

	<support-screens>
		
	</support-screens>
<uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 