<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="dk.nindroid.rss"
      android:installLocation="auto" android:versionName="3.3.1" android:versionCode="94">
     
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true" android:debuggable="true">
        <activity android:name=".ShowStreams" android:screenOrientation="nosensor">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
        
    	<activity android:name=".menu.Settings" />
		<activity android:name=".ClearCache"></activity>
		<activity android:name=".settings.ManageFeeds"></activity>
		<activity android:name=".settings.DirectoryBrowser"></activity>
		<activity android:name=".settings.SourceSelectorFragmentActivity"></activity>
		<activity android:name=".settings.FlickrBrowser$AlbumActivity"></activity>
		<activity android:name=".settings.PicasaBrowser"></activity>
		<activity android:name=".parser.facebook.FacebookAuth">
			<intent-filter>
				 <action android:name="android.intent.action.VIEW" />
		         <category android:name="android.intent.category.DEFAULT" />
		         <category android:name="android.intent.category.BROWSABLE" />
		         <data android:scheme="floatingimage"/>
			</intent-filter>
		</activity>
		<activity android:name=".settings.FacebookBrowser$SubActivity">
		</activity>
		<activity android:name=".parser.facebook.WebAuth"></activity>
		<activity android:name=".parser.facebook.FacebookAlbumBrowser"></activity>
		<activity android:name=".parser.facebook.FacebookFriendsBrowser"></activity>
		<activity android:name=".parser.facebook.FacebookFriendView"></activity>
		<activity android:name=".flickr.WebAuth"></activity>
		<activity android:name=".parser.flickr.FlickrAlbumBrowser"></activity>
		<activity android:name=".parser.picasa.PicasaWebAuth"></activity>
		<activity android:name=".parser.picasa.PicasaAlbumBrowser"></activity>
		<activity android:name=".settings.PicasaBrowser$UserActivity"></activity>
		<activity android:name=".settings.About" android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name=".menu.WallpaperSettings" android:exported="true" />
		<activity android:name=".menu.ApplicationFeedManagerLauncher"></activity>
		<activity android:name=".menu.WallpaperFeedManagerLauncher"></activity>

		<service android:name="Wallpaper"
				 android:label="Floating Image"
				 android:permission="android.permission.BIND_WALLPAPER">
				 <intent-filter>
				 	<action android:name="android.service.wallpaper.WallpaperService" />
				 </intent-filter>
				 <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper" />
		</service>
	<activity android:name=".settings.PhotobucketBrowser"></activity>
<activity android:name=".parser.photobucket.PhotobucketShowUser"></activity>
<activity android:name=".settings.SourceSelector$SourceActivity"></activity>
<activity android:name=".settings.PicasaBrowser$AlbumActivity"></activity>
<activity android:name=".parser.facebook.FacebookFriendsBrowser$SubActivity"></activity>
<activity android:name=".parser.facebook.FacebookFriendView$SubActivity"></activity>
<activity android:name=".menu.LiveWallpaperLauncher"></activity>
<activity android:name=".parser.picasa.PicasaUserView$AlbumActivity"></activity>
<activity android:name=".settings.FeedSettings"></activity>

<activity android:name="GalleryActivity" android:label="Floating Gallery" android:taskAffinity=".GalleryActivity" android:icon="@drawable/icon_gallery">
    <intent-filter>
		<action android:name="android.intent.action.MAIN"></action>
		<category android:name="android.intent.category.LAUNCHER"></category>
	</intent-filter>
</activity>

<activity android:name=".menu.GallerySettings"></activity>
<activity android:name=".menu.GalleryFeedManagerLauncher"></activity>
</application>

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11"/>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.BIND_WALLPAPER"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
	
	<supports-screens 
		android:largeScreens="true" 
		android:anyDensity="true" 
		android:normalScreens="true" 
		android:smallScreens="true"
		android:xlargeScreens="true" />
</manifest> 